[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.sln.docstates

.vscode/

appsettings.Development.json
DecoratorMiddleware.cs
LoggingMiddleware.cs
docker-compose-dev.yml

*.db
*.mdf
*.ldf
*.md

*.log
*.env